.App {
  text-align: center;
}
.Header {
  color: #df1f1f;
  text-shadow: 5px 5px 10px rgb(230, 20, 20);
}

.H1 {
  color: #080808;
  text-shadow: 5px 5px 10px rgb(250, 246, 246);
}
/* write your parent styles in here for your App.js */
